openapi: 3.2.0
info:
  title: ready2order Public Legal Form API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Legal Form
paths:
  /legalForms:
    get:
      tags:
      - Legal Form
      summary: List all Legal Forms
      description: ''
      operationId: legalFormGetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    legalForm_id:
                      type: integer
                      example: 1
                    legalForm_name:
                      type: string
                      example: GmbH
                    legalForm_identifier:
                      type: string
                      example: gmbh
                    legalForm_country_id:
                      type: integer
                      example: 1
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /legalForms/{id}:
    get:
      tags:
      - Legal Form
      summary: Find Legal Form by Id
      description: ''
      operationId: legalFormFindById
      parameters:
      - name: id
        in: path
        description: Legal Form ID to find
        required: true
        schema:
          type: integer
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  legalForm_id:
                    type: integer
                    example: 1
                  legalForm_name:
                    type: string
                    example: GmbH
                  legalForm_identifier:
                    type: string
                    example: gmbh
                  legalForm_country_id:
                    type: integer
                    example: 1
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
