openapi: 3.2.0
info:
  title: ready2order Public Grant Access Token API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Grant Access Token
paths:
  /developerToken/grantAccessToken:
    post:
      tags:
      - Grant Access Token
      summary: Create Grant Access Token
      description: ''
      operationId: grantAccessTokenCreateGrantAccessToken
      requestBody:
        content:
          application/json:
            schema:
              properties:
                authorizationCallbackUri:
                  description: The callback to which the merchant will be redirected if access will be granted.
                  type: string
                  example: https://example.com?auth=succeess
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  expiresAt:
                    type: string
                    example: 1641546585
                  grantAccessUri:
                    type: string
                    example: https://my.ready2order.com/api/grantAccess/abcdef_token
                  grantAccessToken:
                    type: string
                    example: abcdef_token (JWT token)
                  status:
                    type: string
                    example: pending
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /developerToken/grantAccessToken/{token}:
    get:
      tags:
      - Grant Access Token
      summary: Get Grant Access Token Status
      description: ''
      operationId: grantAccessTokenGetGrantAccessTokenStatus
      parameters:
      - name: token
        in: path
        description: Grant-access token
        required: true
        schema:
          type: string
          example: your-token-to-check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: pending, expired, granted, denied
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
