openapi: 3.2.0
info:
  title: ready2order Public Terminal Transaction API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Terminal Transaction
paths:
  /terminalTransactions/init/{identifier}:
    post:
      tags:
      - Terminal Transaction
      summary: Init
      description: ''
      operationId: terminalTransactionInit
      parameters:
      - name: identifier
        in: path
        description: Unique identifier for the terminal transaction
        required: true
        schema:
          type: string
          enum:
          - readyPay
          example: readyPay
      requestBody:
        content:
          application/json:
            schema:
              required:
              - invoiceData
              - paymentDeviceId
              properties:
                invoiceData:
                  type: string
                paymentDeviceId:
                  type: integer
                  example: 9999
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  txId:
                    type: string
                    example: 87419301-3532-416a-8252-1ad700e7b34d
                  status:
                    type: string
                    example: processing
                  result:
                    type: string
                    example: success
                  amount:
                    type: string
                    example: 230
                  billId:
                    type: integer
                    example: 4231
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
  /terminalTransactions/{txId}/create-bill:
    post:
      tags:
      - Terminal Transaction
      summary: Trigger Bill Creation
      description: ''
      operationId: terminalTransactionTriggerBillCreation
      parameters:
      - name: txId
        in: path
        description: UUID of the terminal transaction
        required: true
        schema:
          type: string
          example: 87419301-3532-416a-8252-1ad700e7b34d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  txId:
                    type: string
                    example: 87419301-3532-416a-8252-1ad700e7b34d
                  status:
                    type: string
                    example: processing
                  result:
                    type: string
                    example: success
                  amount:
                    type: string
                    example: 230
                  billId:
                    type: integer
                    example: 4231
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
  /terminalTransactions/{txId}:
    get:
      tags:
      - Terminal Transaction
      summary: Status
      description: ''
      operationId: terminalTransactionStatus
      parameters:
      - name: txId
        in: path
        description: UUID of the terminal transaction
        required: true
        schema:
          type: string
          example: 87419301-3532-416a-8252-1ad700e7b34d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  txId:
                    type: string
                    example: 87419301-3532-416a-8252-1ad700e7b34d
                  status:
                    type: string
                    example: processing
                  result:
                    type: string
                    example: success
                  amount:
                    type: string
                    example: 230
                  billId:
                    type: integer
                    example: 4231
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Terminal Transaction
      summary: Abort
      description: ''
      operationId: terminalTransactionAbort
      parameters:
      - name: txId
        in: path
        description: ID of the terminal transaction to abort
        required: true
        schema:
          type: string
          example: 87419301-3532-416a-8252-1ad700e7b34d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Cancelled successfully
                  result:
                    type: string
                    example: aborted-while-waiting
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
