openapi: 3.2.0
info:
  title: ready2order Public Coupon Category API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Coupon Category
  description: 'Coupon categories let you group coupons under a shared label. The category has no effect on coupon behaviour or tax treatment.


    To assign a coupon to a category, set `couponCategory_id` when creating or updating the coupon. You cannot delete a category that still has coupons assigned to it.'
paths:
  /couponCategories:
    get:
      tags:
      - Coupon Category
      summary: List coupon categories
      description: Returns a paginated list of coupon categories for the authenticated account.
      operationId: couponCategoryGetPaginated
      parameters:
      - name: page
        in: query
        description: Page you want to display
        required: false
        schema:
          type: integer
          example: 1
      - name: limit
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
          example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    couponCategory_id:
                      type: integer
                      example: 123
                    couponCategory_name:
                      type: string
                      example: my coupon category
                    couponCategory_description:
                      type: string
                      example: my great coupon category
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Coupon Category
      summary: Create a coupon category
      description: Creates a new coupon category. Categories are used to organise coupons and have no effect on coupon behaviour or fiscal treatment.
      operationId: couponCategoryCreate
      requestBody:
        content:
          application/json:
            schema:
              required:
              - couponCategory_name
              properties:
                couponCategory_name:
                  type: string
                couponCategory_description:
                  type: string
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  couponCategory_id:
                    type: integer
                    example: 123
                  couponCategory_name:
                    type: string
                    example: my coupon category
                  couponCategory_description:
                    type: string
                    example: my great coupon category
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /couponCategories/{id}:
    get:
      tags:
      - Coupon Category
      summary: Get a coupon category
      description: Returns a single coupon category by its ID.
      operationId: couponCategoryFindById
      parameters:
      - name: id
        in: path
        description: Coupon Category ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  couponCategory_id:
                    type: integer
                    example: 123
                  couponCategory_name:
                    type: string
                    example: my coupon category
                  couponCategory_description:
                    type: string
                    example: my great coupon category
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Coupon Category
      summary: Update a coupon category
      description: Updates the name and description of an existing coupon category.
      operationId: couponCategoryUpdate
      parameters:
      - name: id
        in: path
        description: Coupon Category ID to update
        required: true
        schema:
          type: integer
          example: 12345
      requestBody:
        content:
          application/json:
            schema:
              required:
              - couponCategory_name
              properties:
                couponCategory_name:
                  type: string
                couponCategory_description:
                  type: string
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  couponCategory_id:
                    type: integer
                    example: 123
                  couponCategory_name:
                    type: string
                    example: my coupon category
                  couponCategory_description:
                    type: string
                    example: my great coupon category
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Coupon Category
      summary: Delete a coupon category
      description: Deletes a coupon category. Fails if coupons are still assigned to it; reassign or delete those coupons first.
      operationId: couponCategoryDeleteById
      parameters:
      - name: id
        in: path
        description: Coupon Category ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Coupon Category was successfully deleted!
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
