openapi: 3.0.0
info:
  title: ready2order Public Account Token Printer API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: "# First Steps\n\n## Authorization\n\nThe ready2order API uses a three-token flow to grant your integration access to a ready2order account. Your integration identifies itself with a Developer Token, requests permission from the account owner, and receives a long-lived Account Token to use for all subsequent requests.\n\nEvery API request to account data must include:\n\n```http\nAuthorization: Bearer <ACCOUNT_TOKEN>\n```\n\n| Token | Scope | Lifetime |\n|-------|-------|----------|\n| **Developer Token** | Identifies your integration | Permanent |\n| **Grant Access Token** | One-time permission request | 10 minutes |\n| **Account Token** | Access to a ready2order account | Until revoked |\n\n---\n\n## Setup\n\nThis is a one-time process per account you want to integrate with.\n\n### Step 1 — Get your Developer Token\n\nRegister at [https://api.ready2order.com](https://api.ready2order.com). Your Developer Token will be emailed to you.\n\nStore it securely — it identifies your integration across all accounts.\n\n---\n\n### Step 2 — Request a Grant Access Token\n\nCall this endpoint using your Developer Token:\n\n```http\nPOST /v1/developerToken/grantAccessToken\nAuthorization: Bearer <DEVELOPER_TOKEN>\n```\n\n```json\n{\n  \"callbackUri\": \"https://your-app.com/callback\"\n}\n```\n\n`callbackUri` is optional but strongly recommended (see Step 3).\n\n**Response:**\n\n```json\n{\n  \"grantAccessToken\": \"...\",\n  \"grantAccessUri\": \"https://app.ready2order.com/...\"\n}\n```\n\n---\n\n### Step 3 — Account owner approves access\n\nRedirect the account owner to the `grantAccessUri`. They will log in to their ready2order account and click **Approve**.\n\n**With `callbackUri`** — after approval, ready2order redirects the account owner back to your URL:\n\n```\nhttps://your-app.com/callback?accountToken=<ACCOUNT_TOKEN>&grantAccessToken=<GRANT_ACCESS_TOKEN>&status=approved\n```\n\nThe `accountToken` in that redirect is what you store and use for all future requests.\n\n**Without `callbackUri`** — poll for the result instead:\n\n```http\nGET /v1/developerToken/grantAccessToken/{grantAccessToken}\nAuthorization: Bearer <DEVELOPER_TOKEN>\n```\n\nThe response will include `accountToken` once the account owner has approved.\n\n> The Grant Access Token expires after **10 minutes**. If the account owner does not approve in time, repeat Step 2 to generate a new one.\n\n---\n\n## Training Mode\n\nSome resources support a training mode that keeps test transactions separate from live data. It is handy for staff training and demos where test sales should not show up in reports or fiscal records.\n\nWhen a cashier puts the POS into training mode, all transactions in that session are flagged as training records and kept separate from live data. On the API side, the `trainingMode` field on a resource tells you whether it is a training record, and most list endpoints accept a `trainingMode` query parameter to filter by it.\n\n---\n\n## Error Responses\n\n| Status | Likely cause |\n|--------|-------------|\n| `401 Unauthorized` | Wrong token type, or `Authorization` header missing |\n| `403 Forbidden` | Developer Token used where Account Token is required (or vice versa) |\n| `429 Too Many Requests` | Rate limit exceeded — max 60 requests per minute per Account Token |\n"
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Printer
  description: '<!-- markdownlint-disable MD041 MD051 github-internal-links relative-links -- tag description snippet, not a standalone document; the tag name serves as the heading in the API docs -->

    Printers represent the physical printing devices registered to an account — including receipt printers, mobile printers, and all-in-one terminals. They are configured through the ready2order POS or dashboard; the public API is read-only except for triggering a test print.


    **Fields**


    | Field | Description |

    |-------|-------------|

    | `printer_id` | System-assigned unique identifier for the printer |

    | `printer_name` | The name assigned to the printer in the account settings |

    | `printer_description` | Optional free-text description |

    | `printer_deviceName` | The OS-level device name used to address the printer |

    | `printer_model` | The hardware model, for example `TM-T20II` or `mC-Print3` |

    | `printer_manufacturer` | The manufacturer, for example `epson` or `star` |

    | `printer_ipAddress` | **Deprecated.** The connection address for the printer: an IP address for network printers, a MAC address for Bluetooth, a device path (e.g. `/dev/usb/lp0`) for USB, or `ready2print` for OS-managed printers. `null` if not yet configured |

    | `printer_characters` | The number of characters per printed line, which determines print width |

    | `printer_doubleHeight` | Whether characters are printed at double height |

    | `printer_createdAt` | Timestamp when the printer record was created |


    **Printer profiles**


    A printer profile (see [Printer Profile](#tag/Printer-Profile)) is a named logical slot that sits between your POS configuration and a physical printer. Assigning print jobs to a profile rather than to a printer directly means you can swap out hardware without reconfiguring the rest of the system. Each profile lists the physical printer IDs it currently maps to in `printingProfile_associatedPhysicalPrinterIds`.


    **Cash drawer**


    Some printers support opening a connected cash drawer via an RJ11 kick signal. This is configured per printer in the account settings. See the [create bill](#operation/billCreateBill) endpoint for how to trigger it via the API.

    '
paths:
  /printer:
    get:
      tags:
      - Printer
      summary: List printers
      description: Returns all printers registered to the account.
      operationId: printerGetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    printer_id:
                      type: integer
                      example: 123
                    printer_name:
                      type: string
                      example: kitchen printer
                    printer_description:
                      type: string
                      example: kitchen printer
                    printer_deviceName:
                      type: string
                      example: EPSON-TM-T88V
                    printer_model:
                      type: string
                      example: TM-T20II
                    printer_manufacturer:
                      type: string
                      example: EPSON
                    printer_ipAddress:
                      type: string
                      example: 192.168.0.1
                    printer_characters:
                      type: integer
                      example: 42
                    printer_doubleHeight:
                      type: boolean
                      example: true
                    printer_createdAt:
                      type: string
                      example: '2019-01-01 11:11:11'
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /printer/{id}:
    get:
      tags:
      - Printer
      summary: Get a printer
      description: Returns a single printer by its ID.
      operationId: printerFindById
      parameters:
      - name: id
        in: path
        description: Printer ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  printer_id:
                    type: integer
                    example: 123
                  printer_name:
                    type: string
                    example: kitchen printer
                  printer_description:
                    type: string
                    example: kitchen printer
                  printer_deviceName:
                    type: string
                    example: EPSON-TM-T88V
                  printer_model:
                    type: string
                    example: TM-T20II
                  printer_manufacturer:
                    type: string
                    example: EPSON
                  printer_ipAddress:
                    type: string
                    example: 192.168.0.1
                  printer_characters:
                    type: integer
                    example: 42
                  printer_doubleHeight:
                    type: boolean
                    example: true
                  printer_createdAt:
                    type: string
                    example: '2019-01-01 11:11:11'
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
  /printer/testPrint:
    post:
      tags:
      - Printer
      summary: Send a test print
      description: Sends a test page to the account's configured default printer. If no default printer is configured, the test is sent to all printers on the account.
      operationId: printerTestPrint
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: true
                  success:
                    type: boolean
                    example: false
                  msg:
                    type: string
                    example: Printer not found
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
