openapi: 3.2.0
info:
  title: ready2order Public Payment Method API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Payment Method
paths:
  /paymentMethods:
    get:
      tags:
      - Payment Method
      summary: List all Payment Methods
      description: ''
      operationId: paymentMethodGetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    payment_id:
                      type: integer
                      example: 74890
                    payment_name:
                      type: string
                      example: Barzahlung
                    payment_description:
                      type: string
                      example: just a description
                    payment_accountingCode:
                      type: string
                      example: 2700
                    payment_markAsPaid:
                      type: boolean
                      example: true
                    paymentType_id:
                      type: integer
                      example: 1
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Payment Method
      summary: Create Payment Method
      description: ''
      operationId: paymentMethodCreatePaymentMethod
      requestBody:
        content:
          application/json:
            schema:
              required:
              - paymentType_id
              - payment_name
              properties:
                payment_description:
                  description: The description of the payment method
                  type: string
                  example: Paying in cash
                payment_markAsPaid:
                  description: Mark payment method as paid
                  type: boolean
                  example: true
                paymentType_id:
                  description: The payment type id of the payment method
                  type: integer
                  example: 1
                payment_accountingCode:
                  description: The accounting code of the payment method
                  type: string
                  example: 1234
                payment_name:
                  description: The name of the payment method
                  type: string
                  example: Barzahlung
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  payment_id:
                    type: integer
                    example: 74890
                  payment_name:
                    type: string
                    example: Barzahlung
                  payment_description:
                    type: string
                    example: just a description
                  payment_accountingCode:
                    type: string
                    example: 2700
                  payment_markAsPaid:
                    type: boolean
                    example: true
                  paymentType_id:
                    type: integer
                    example: 1
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /paymentMethods/{id}:
    get:
      tags:
      - Payment Method
      summary: Find Payment Method by Id
      description: ''
      operationId: paymentMethodFindById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  payment_id:
                    type: integer
                    example: 74890
                  payment_name:
                    type: string
                    example: Barzahlung
                  payment_description:
                    type: string
                    example: just a description
                  payment_accountingCode:
                    type: string
                    example: 2700
                  payment_markAsPaid:
                    type: boolean
                    example: true
                  paymentType_id:
                    type: integer
                    example: 1
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Payment Method
      summary: Update Payment Method
      description: ''
      operationId: paymentMethodUpdatePaymentMethod
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      requestBody:
        content:
          application/json:
            schema:
              properties:
                payment_description:
                  description: The description of the payment method
                  type: string
                  example: Paying in cash
                payment_markAsPaid:
                  description: Mark payment method as paid
                  type: boolean
                  example: true
                paymentType_id:
                  description: The payment type id of the payment method
                  type: integer
                  example: 1
                payment_accountingCode:
                  description: The accounting code of the payment method
                  type: string
                  example: 1234
                payment_name:
                  description: The name of the payment method
                  type: string
                  example: Barzahlung
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  payment_id:
                    type: integer
                    example: 74890
                  payment_name:
                    type: string
                    example: Barzahlung
                  payment_description:
                    type: string
                    example: just a description
                  payment_accountingCode:
                    type: string
                    example: 2700
                  payment_markAsPaid:
                    type: boolean
                    example: true
                  paymentType_id:
                    type: integer
                    example: 1
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Payment Method
      summary: Delete Payment Method
      description: ''
      operationId: paymentMethodDeletePaymentMethod
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: PaymentMethod was successfully deleted.
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
