openapi: 3.2.0
info:
  title: ready2order Public Discount API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Discount
  description: Discounts are preset price reductions that cashiers can apply at the point of sale.
paths:
  /discounts:
    get:
      tags:
      - Discount
      summary: List discounts
      description: Returns all discounts for the account, including inactive ones.
      operationId: discountGetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    discount_id:
                      type: integer
                      example: 123
                    discount_name:
                      type: string
                      example: Discount
                    discount_description:
                      type: string
                      example: A discount description
                    discount_value:
                      type: string
                      example: 30
                    discount_unit:
                      type: string
                      example: custom
                    discount_active:
                      type: boolean
                      example: true
                    discount_order:
                      type: integer
                      example: 0
                    discountGroup_id:
                      type: integer
                      example: 116
                    discount_created_at:
                      type: string
                      example: '2018-12-20 11:00:00'
                    discount_updated_at:
                      type: string
                      example: '2018-12-20 11:15:00'
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Discount
      summary: Create a discount
      description: Creates a new discount.
      operationId: discountCreate
      requestBody:
        content:
          application/json:
            schema:
              required:
              - discount_name
              - discountGroup_id
              - discount_unit
              - discount_value
              properties:
                discount_name:
                  description: The name of the discount
                  type: string
                  example: Discount
                discountGroup_id:
                  description: The id of the discount group
                  type: integer
                  example: 116
                discount_unit:
                  description: The unit of the discount
                  type: string
                  enum:
                  - percent
                  - currency
                  - custom
                  example: custom
                discount_order:
                  description: The order of the discount
                  type: integer
                  example: 9999
                discount_description:
                  description: The description of the discount
                  type: string
                  example: A discount description
                discount_active:
                  description: Whether the discount is active or not
                  type: boolean
                  example: true
                discount_value:
                  description: The value of the discount
                  type: string
                  example: 30
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  discount_id:
                    type: integer
                    example: 123
                  discount_name:
                    type: string
                    example: Discount
                  discount_description:
                    type: string
                    example: A discount description
                  discount_value:
                    type: string
                    example: 30
                  discount_unit:
                    type: string
                    example: custom
                  discount_active:
                    type: boolean
                    example: true
                  discount_order:
                    type: integer
                    example: 0
                  discountGroup_id:
                    type: integer
                    example: 116
                  discount_created_at:
                    type: string
                    example: '2018-12-20 11:00:00'
                  discount_updated_at:
                    type: string
                    example: '2018-12-20 11:15:00'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /discounts/{id}:
    get:
      tags:
      - Discount
      summary: Get a discount
      description: Returns a single discount by its ID.
      operationId: discountFindById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  discount_id:
                    type: integer
                    example: 123
                  discount_name:
                    type: string
                    example: Discount
                  discount_description:
                    type: string
                    example: A discount description
                  discount_value:
                    type: string
                    example: 30
                  discount_unit:
                    type: string
                    example: custom
                  discount_active:
                    type: boolean
                    example: true
                  discount_order:
                    type: integer
                    example: 0
                  discountGroup_id:
                    type: integer
                    example: 116
                  discount_created_at:
                    type: string
                    example: '2018-12-20 11:00:00'
                  discount_updated_at:
                    type: string
                    example: '2018-12-20 11:15:00'
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Discount
      summary: Update a discount
      description: Updates an existing discount.
      operationId: discountUpdate
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      requestBody:
        content:
          application/json:
            schema:
              properties:
                discount_name:
                  description: The name of the discount
                  type: string
                  example: Discount
                discountGroup_id:
                  description: The id of the discount group
                  type: integer
                  example: 116
                discount_unit:
                  description: The unit of the discount
                  type: string
                  enum:
                  - percent
                  - currency
                  - custom
                  example: custom
                discount_order:
                  description: The order of the discount
                  type: integer
                  example: 9999
                discount_description:
                  description: The description of the discount
                  type: string
                  example: A discount description
                discount_active:
                  description: Whether the discount is active or not
                  type: boolean
                  example: true
                discount_value:
                  description: The value of the discount
                  type: string
                  example: 30
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  discount_id:
                    type: integer
                    example: 123
                  discount_name:
                    type: string
                    example: Discount
                  discount_description:
                    type: string
                    example: A discount description
                  discount_value:
                    type: string
                    example: 30
                  discount_unit:
                    type: string
                    example: custom
                  discount_active:
                    type: boolean
                    example: true
                  discount_order:
                    type: integer
                    example: 0
                  discountGroup_id:
                    type: integer
                    example: 116
                  discount_created_at:
                    type: string
                    example: '2018-12-20 11:00:00'
                  discount_updated_at:
                    type: string
                    example: '2018-12-20 11:15:00'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Discount
      summary: Delete a discount
      description: Deletes a discount.
      operationId: discountDelete
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Discount was successfully deleted!
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
