openapi: 3.2.0
info:
  title: ready2order Public Product Group API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Product Group
paths:
  /productgroups:
    get:
      tags:
      - Product Group
      summary: List all Product Groups
      description: ''
      operationId: productGroupGetAllPaginated
      parameters:
      - name: page
        in: query
        description: Page you want to display
        required: false
        schema:
          type: integer
          example: 1
      - name: limit
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
          example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    productgroup_id:
                      type: integer
                      example: 83012
                    productgroup_name:
                      type: string
                      example: Favorites
                    productgroup_description:
                      type: string
                      example: Just a description
                    productgroup_shortcut:
                      type: string
                      example: fav
                    productgroup_active:
                      type: boolean
                      example: true
                    productgroup_sortIndex:
                      type: integer
                      example: -1
                    productgroup_created_at:
                      type: string
                      example: '2019-07-29 08:26:18'
                    productgroup_updated_at:
                      type: string
                      example: '2019-07-29 08:26:18'
                    productgroup_type_id:
                      type: integer
                      example: 2
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Product Group
      summary: Create a new Product Group
      description: ''
      operationId: productGroupCreate
      requestBody:
        content:
          application/json:
            schema:
              required:
              - productgroup_name
              properties:
                productgroup_name:
                  type: string
                productgroup_description:
                  type: string
                productgroup_shortcut:
                  type: string
                productgroup_active:
                  type: boolean
                  example: false
                productgroup_parent:
                  type: integer
                  example: 9999
                productgroup_sortIndex:
                  type: integer
                  example: 9999
                productgroup_accountingCode:
                  type: string
                productgroup_accountingCodeName:
                  type: string
                productgroup_accountingCodeVatRate:
                  description: <br><br> _* Required when `productgroup_accountingCodeName` is provided._
                  type: string
                productgroup_type_id:
                  type: integer
                  example: 9999
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  productgroup_id:
                    type: integer
                    example: 83012
                  productgroup_name:
                    type: string
                    example: Favorites
                  productgroup_description:
                    type: string
                    example: Just a description
                  productgroup_shortcut:
                    type: string
                    example: fav
                  productgroup_active:
                    type: boolean
                    example: true
                  productgroup_sortIndex:
                    type: integer
                    example: -1
                  productgroup_created_at:
                    type: string
                    example: '2019-07-29 08:26:18'
                  productgroup_updated_at:
                    type: string
                    example: '2019-07-29 08:26:18'
                  productgroup_type_id:
                    type: integer
                    example: 2
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /productgroups/{id}:
    get:
      tags:
      - Product Group
      summary: Find Product Group by Id
      description: ''
      operationId: productGroupFindById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  productgroup_id:
                    type: integer
                    example: 83012
                  productgroup_name:
                    type: string
                    example: Favorites
                  productgroup_description:
                    type: string
                    example: Just a description
                  productgroup_shortcut:
                    type: string
                    example: fav
                  productgroup_active:
                    type: boolean
                    example: true
                  productgroup_sortIndex:
                    type: integer
                    example: -1
                  productgroup_created_at:
                    type: string
                    example: '2019-07-29 08:26:18'
                  productgroup_updated_at:
                    type: string
                    example: '2019-07-29 08:26:18'
                  productgroup_type_id:
                    type: integer
                    example: 2
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Product Group
      summary: Update Product Group by Id
      description: ''
      operationId: productGroupUpdateById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      requestBody:
        content:
          application/json:
            schema:
              properties:
                productgroup_name:
                  type: string
                productgroup_description:
                  type: string
                productgroup_shortcut:
                  type: string
                productgroup_active:
                  type: boolean
                  example: false
                productgroup_parent:
                  type: integer
                  example: 9999
                productgroup_sortIndex:
                  type: integer
                  example: 9999
                productgroup_accountingCode:
                  type: string
                productgroup_accountingCodeName:
                  type: string
                productgroup_accountingCodeVatRate:
                  description: <br><br> _* Required when `productgroup_accountingCodeName` is provided._
                  type: string
                productgroup_type_id:
                  type: integer
                  example: 9999
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  productgroup_id:
                    type: integer
                    example: 83012
                  productgroup_name:
                    type: string
                    example: Favorites
                  productgroup_description:
                    type: string
                    example: Just a description
                  productgroup_shortcut:
                    type: string
                    example: fav
                  productgroup_active:
                    type: boolean
                    example: true
                  productgroup_sortIndex:
                    type: integer
                    example: -1
                  productgroup_created_at:
                    type: string
                    example: '2019-07-29 08:26:18'
                  productgroup_updated_at:
                    type: string
                    example: '2019-07-29 08:26:18'
                  productgroup_type_id:
                    type: integer
                    example: 2
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Product Group
      summary: Delete Product Group by Id
      description: ''
      operationId: productGroupDeleteById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Productgroup was deleted successfully
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
  /productgroups/{id}/products:
    get:
      tags:
      - Product Group
      summary: Find With Products By Id
      description: ''
      operationId: productGroupFindWithProductsById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  productgroup_id:
                    type: integer
                    example: 83012
                  productgroup_name:
                    type: string
                    example: Favorites
                  productgroup_description:
                    type: string
                    example: Just a description
                  productgroup_shortcut:
                    type: string
                    example: fav
                  productgroup_active:
                    type: boolean
                    example: true
                  productgroup_sortIndex:
                    type: integer
                    example: -1
                  productgroup_created_at:
                    type: string
                    example: '2019-07-29 08:26:18'
                  productgroup_updated_at:
                    type: string
                    example: '2019-07-29 08:26:18'
                  productgroup_type_id:
                    type: integer
                    example: 2
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
