openapi: 3.2.0
info:
  title: ready2order Public Printer API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Printer
  description: Printers represent the physical printing devices registered to an account — including receipt printers, mobile printers, and all-in-one terminals.
paths:
  /printer:
    get:
      tags:
      - Printer
      summary: List printers
      description: Returns all printers registered to the account.
      operationId: printerGetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    printer_id:
                      type: integer
                      example: 123
                    printer_name:
                      type: string
                      example: kitchen printer
                    printer_description:
                      type: string
                      example: kitchen printer
                    printer_deviceName:
                      type: string
                      example: EPSON-TM-T88V
                    printer_model:
                      type: string
                      example: TM-T20II
                    printer_manufacturer:
                      type: string
                      example: EPSON
                    printer_ipAddress:
                      type: string
                      example: 192.168.0.1
                    printer_characters:
                      type: integer
                      example: 42
                    printer_doubleHeight:
                      type: boolean
                      example: true
                    printer_createdAt:
                      type: string
                      example: '2019-01-01 11:11:11'
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /printer/{id}:
    get:
      tags:
      - Printer
      summary: Get a printer
      description: Returns a single printer by its ID.
      operationId: printerFindById
      parameters:
      - name: id
        in: path
        description: Printer ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  printer_id:
                    type: integer
                    example: 123
                  printer_name:
                    type: string
                    example: kitchen printer
                  printer_description:
                    type: string
                    example: kitchen printer
                  printer_deviceName:
                    type: string
                    example: EPSON-TM-T88V
                  printer_model:
                    type: string
                    example: TM-T20II
                  printer_manufacturer:
                    type: string
                    example: EPSON
                  printer_ipAddress:
                    type: string
                    example: 192.168.0.1
                  printer_characters:
                    type: integer
                    example: 42
                  printer_doubleHeight:
                    type: boolean
                    example: true
                  printer_createdAt:
                    type: string
                    example: '2019-01-01 11:11:11'
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
  /printer/testPrint:
    post:
      tags:
      - Printer
      summary: Send a test print
      description: Sends a test page to the account's configured default printer. If no default printer is configured, the test is sent to all printers on the account.
      operationId: printerTestPrint
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: true
                  success:
                    type: boolean
                    example: false
                  msg:
                    type: string
                    example: Printer not found
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
