openapi: 3.2.0
info:
  title: ready2order Public Webhook API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Webhook
  description: Webhooks push events to your application automatically — no polling required.
paths:
  /webhook:
    get:
      tags:
      - Webhook
      summary: Find
      description: ''
      operationId: webhookFind
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  webhookUrl:
                    type: string
                    example: https://ready2order.com
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    put:
      tags:
      - Webhook
      summary: Update Webhook Url
      description: ''
      operationId: webhookUpdateWebhookUrl
      requestBody:
        content:
          application/json:
            schema:
              required:
              - webhookUrl
              properties:
                webhookUrl:
                  type: string
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  webhookUrl:
                    type: string
                    example: https://ready2order.com
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /webhook/events:
    get:
      tags:
      - Webhook
      summary: Find Webhook Events
      description: ''
      operationId: webhookFindWebhookEvents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  activeEvents:
                    type: array
                    items:
                      type: integer
                    example: invoice.created
                  availableEvents:
                    type: array
                    items:
                      type: integer
                    example: '[product.created, product.updated]'
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    put:
      tags:
      - Webhook
      summary: Update Webhook Event
      description: ''
      operationId: webhookUpdateWebhookEvent
      requestBody:
        content:
          application/json:
            schema:
              properties:
                addEvent:
                  description: <br><br> _* Required if `removeEvent` is not provided._
                  type: string
                removeEvent:
                  description: <br><br> _* Required if `addEvent` is not provided._
                  type: string
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: true
                  success:
                    type: boolean
                    example: false
                  msg:
                    type: string
                    example: Your now receiving webhooks for the event <name>
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
