openapi: 3.2.0
info:
  title: ready2order Public Storno API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Storno
paths:
  /storno:
    get:
      tags:
      - Storno
      summary: List all Stornos
      description: ''
      operationId: stornoGetAll
      parameters:
      - name: page
        in: query
        description: Page you want to display
        required: false
        schema:
          type: integer
          example: 1
      - name: limit
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
          example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    storno_id:
                      type: integer
                      example: 1234
                    storno_name:
                      type: string
                      example: cancellation
                    storno_description:
                      type: string
                      example: storno reason 1234
                    storno_created_at:
                      type: string
                      example: '2019-01-01 12:00:00'
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Storno
      summary: Create a new Storno
      description: ''
      operationId: stornoCreate
      requestBody:
        content:
          application/json:
            schema:
              required:
              - storno_name
              properties:
                storno_name:
                  description: Storno name
                  type: string
                  example: cancellation
                storno_description:
                  description: Storno description
                  type: string
                  example: storno reason 1234
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  storno_id:
                    type: integer
                    example: 1234
                  storno_name:
                    type: string
                    example: cancellation
                  storno_description:
                    type: string
                    example: storno reason 1234
                  storno_created_at:
                    type: string
                    example: '2019-01-01 12:00:00'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /storno/{id}:
    get:
      tags:
      - Storno
      summary: Find Storno by Id
      description: ''
      operationId: stornoFindById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  storno_id:
                    type: integer
                    example: 1234
                  storno_name:
                    type: string
                    example: cancellation
                  storno_description:
                    type: string
                    example: storno reason 1234
                  storno_created_at:
                    type: string
                    example: '2019-01-01 12:00:00'
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Storno
      summary: Update Storno by Id
      description: ''
      operationId: stornoUpdateById
      parameters:
      - name: id
        in: path
        description: storno id
        required: true
        schema:
          type: integer
          example: 1234
      requestBody:
        content:
          application/json:
            schema:
              required:
              - storno_name
              properties:
                storno_name:
                  description: Storno name
                  type: string
                  example: cancellation
                storno_description:
                  description: Storno description
                  type: string
                  example: storno reason 1234
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  storno_id:
                    type: integer
                    example: 1234
                  storno_name:
                    type: string
                    example: cancellation
                  storno_description:
                    type: string
                    example: storno reason 1234
                  storno_created_at:
                    type: string
                    example: '2019-01-01 12:00:00'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Storno
      summary: Delete Storno by Id
      description: ''
      operationId: stornoDeleteById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Storno was successfully deleted!
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
