openapi: 3.2.0
info:
  title: ready2order Public Customer Group API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Customer Group
paths:
  /customerCategories:
    get:
      tags:
      - Customer Group
      summary: Get All Customer Groups
      description: ''
      operationId: customerGroupGetAllCustomerGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    customerCategory_id:
                      type: integer
                      example: 123
                    customerCategory_name:
                      type: string
                      example: a customer group
                    customerCategory_description:
                      type: string
                      example: a customer group description
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Customer Group
      summary: Create Customer Group
      description: ''
      operationId: customerGroupCreateCustomerGroup
      requestBody:
        content:
          application/json:
            schema:
              required:
              - customerCategory_name
              properties:
                customerCategory_name:
                  type: string
                customerCategory_description:
                  type: string
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customerCategory_id:
                    type: integer
                    example: 123
                  customerCategory_name:
                    type: string
                    example: a customer group
                  customerCategory_description:
                    type: string
                    example: a customer group description
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /customerCategories/{id}:
    get:
      tags:
      - Customer Group
      summary: Get Customer Group By Id
      description: ''
      operationId: customerGroupGetCustomerGroupById
      parameters:
      - name: id
        in: path
        description: Customer Group ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customerCategory_id:
                    type: integer
                    example: 123
                  customerCategory_name:
                    type: string
                    example: a customer group
                  customerCategory_description:
                    type: string
                    example: a customer group description
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Customer Group
      summary: Update Customer Group
      description: ''
      operationId: customerGroupUpdateCustomerGroup
      parameters:
      - name: id
        in: path
        description: Customer Group ID to update
        required: true
        schema:
          type: integer
          example: 12345
      requestBody:
        content:
          application/json:
            schema:
              required:
              - customerCategory_name
              properties:
                customerCategory_name:
                  type: string
                customerCategory_description:
                  type: string
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customerCategory_id:
                    type: integer
                    example: 123
                  customerCategory_name:
                    type: string
                    example: a customer group
                  customerCategory_description:
                    type: string
                    example: a customer group description
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Customer Group
      summary: Delete Customer Group
      description: ''
      operationId: customerGroupDeleteCustomerGroup
      parameters:
      - name: id
        in: path
        description: Customer Group ID to delete
        required: true
        schema:
          type: integer
          example: 12345
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: CustomerCategory was successfully deleted.
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
