openapi: 3.2.0
info:
  title: ready2order Public Table API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Table
paths:
  /tables:
    get:
      tags:
      - Table
      summary: List all Tables
      description: ''
      operationId: tableGetAll
      parameters:
      - name: page
        in: query
        description: Page you want to display
        required: false
        schema:
          type: integer
          example: 1
      - name: limit
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
          example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    table_id:
                      type: integer
                      example: 1234
                    table_name:
                      type: string
                      example: 1234
                    table_description:
                      type: string
                      example: 1234
                    table_isTemporay:
                      type: boolean
                      example: true
                    table_order:
                      type: integer
                      example: 1
                    table_checkoutMode:
                      type: boolean
                      example: false
                    tableArea_id:
                      type: integer
                      example: 1
                    table_created_at:
                      type: string
                      example: '2019-01-01 12:12:12'
                    table_updated_at:
                      type: string
                      example: '2019-01-01 12:12:12'
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Table
      summary: Create a new Table
      description: ''
      operationId: tableCreate
      requestBody:
        content:
          application/json:
            schema:
              required:
              - table_name
              properties:
                table_name:
                  type: string
                  example: 1234
                table_isTemporay:
                  type: boolean
                  example: true
                table_checkoutMode:
                  type: boolean
                  example: false
                table_order:
                  type: integer
                  example: 1
                table_description:
                  type: string
                  example: 1234
                tableArea_id:
                  type: integer
                  example: 1
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  table_id:
                    type: integer
                    example: 1234
                  table_name:
                    type: string
                    example: 1234
                  table_description:
                    type: string
                    example: 1234
                  table_isTemporay:
                    type: boolean
                    example: true
                  table_order:
                    type: integer
                    example: 1
                  table_checkoutMode:
                    type: boolean
                    example: false
                  tableArea_id:
                    type: integer
                    example: 1
                  table_created_at:
                    type: string
                    example: '2019-01-01 12:12:12'
                  table_updated_at:
                    type: string
                    example: '2019-01-01 12:12:12'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /tables/{id}:
    get:
      tags:
      - Table
      summary: Find Table by Id
      description: ''
      operationId: tableFindById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  table_id:
                    type: integer
                    example: 1234
                  table_name:
                    type: string
                    example: 1234
                  table_description:
                    type: string
                    example: 1234
                  table_isTemporay:
                    type: boolean
                    example: true
                  table_order:
                    type: integer
                    example: 1
                  table_checkoutMode:
                    type: boolean
                    example: false
                  tableArea_id:
                    type: integer
                    example: 1
                  table_created_at:
                    type: string
                    example: '2019-01-01 12:12:12'
                  table_updated_at:
                    type: string
                    example: '2019-01-01 12:12:12'
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Table
      summary: Update Table by Id
      description: ''
      operationId: tableUpdateById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      requestBody:
        content:
          application/json:
            schema:
              properties:
                table_name:
                  type: string
                  example: 1234
                table_isTemporay:
                  type: boolean
                  example: true
                table_checkoutMode:
                  type: boolean
                  example: false
                table_order:
                  type: integer
                  example: 1
                table_description:
                  type: string
                  example: 1234
                tableArea_id:
                  type: integer
                  example: 1
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  table_id:
                    type: integer
                    example: 1234
                  table_name:
                    type: string
                    example: 1234
                  table_description:
                    type: string
                    example: 1234
                  table_isTemporay:
                    type: boolean
                    example: true
                  table_order:
                    type: integer
                    example: 1
                  table_checkoutMode:
                    type: boolean
                    example: false
                  tableArea_id:
                    type: integer
                    example: 1
                  table_created_at:
                    type: string
                    example: '2019-01-01 12:12:12'
                  table_updated_at:
                    type: string
                    example: '2019-01-01 12:12:12'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Table
      summary: Delete Table by Id
      description: ''
      operationId: tableDeleteById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Table was deleted successfully.
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
