openapi: 3.2.0
info:
  title: ready2order Public Export API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Export
paths:
  /cashbook/export:
    get:
      tags:
      - Export
      summary: Export Cashbook
      description: ''
      operationId: exportExportCashbookV3
      parameters:
      - name: dateFrom
        in: query
        required: true
        schema:
          type: string
          example: '2021-08-01'
      - name: dateTo
        in: query
        required: true
        schema:
          type: string
          example: '2021-08-31'
      - name: fileFormat
        in: query
        required: true
        schema:
          type: string
          enum:
          - excel
          - pdf
          example: pdf
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  jobStatus_id:
                    type: integer
                    example: 123
                  jobStatus_status:
                    type: string
                    example: finished
                  jobStatus_startedAt:
                    type: string
                    example: '2019-08-02 08:08:13'
                  jobStatus_finishedAt:
                    type: string
                    example: '2019-08-02 08:08:14'
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /export/accountancy:
    get:
      tags:
      - Export
      summary: Export Accountancy
      description: ''
      operationId: exportExportAccountancy
      parameters:
      - name: format
        in: query
        description: 'Use one of the possible export formats: bmd, bmd-ntcs, datev, sap, rzl'
        required: true
        schema:
          type: string
          example: datev
      - name: year
        in: query
        description: Year for which the export should be generated (optional)
        required: false
        schema:
          type: integer
          example: 2019
      - name: month
        in: query
        description: Month for which the export should be generated (optional)
        required: false
        schema:
          type: integer
          example: 1
      - name: day
        in: query
        description: Day for which the export should be generated (optional)
        required: false
        schema:
          type: integer
          example: 31
      - name: exportCashbook
        in: query
        description: Whether to include cashbook transactions in the export
        required: false
        schema:
          type: boolean
          example: true
      - name: dataSource
        in: query
        description: 'Type of data-aggregation to use. Possible value are: invoice, eachItem, dailyReport_productGroups, dailyReport_accountingCode'
        required: true
        schema:
          type: string
          example: invoice
      - name: financialYear
        in: query
        description: If format is datev the number of the financialYear has to be provided. See GET /accounting/financialYears <br><br> _* Required when `format` is `datev`._
        required: false
        schema:
          type: integer
          example: 2019
      - name: from
        in: query
        description: If format is datev the start date of the financialYear has to be provided. See GET /accounting/financialYears <br><br> _* Required when `financialYear` is provided._
        required: false
        schema:
          type: string
          example: '2019-01-01'
      - name: to
        in: query
        description: If format is datev the end date of the financialYear has to be provided. See GET /accounting/financialYears <br><br> _* Required when `financialYear` is provided._
        required: false
        schema:
          type: string
          example: '2019-12-31'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  file:
                    type: string
                    example: https://abc.cde.com
                  filename:
                    type: string
                    example: 1234
                  error:
                    type: boolean
                    example: false
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /export/accountancy/cashbook:
    get:
      tags:
      - Export
      summary: Export Cashbook
      description: ''
      operationId: exportExportCashbook
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
          example: 2019
      - name: month
        in: query
        required: false
        schema:
          type: integer
          example: 1
      - name: day
        in: query
        required: false
        schema:
          type: integer
          example: 31
      - name: dateFrom
        in: query
        description: <br><br> _* Required when `dateTo` is provided._
        required: false
        schema:
          type: string
          example: '2021-08-01'
      - name: dateTo
        in: query
        description: <br><br> _* Required when `dateFrom` is provided._
        required: false
        schema:
          type: string
          example: '2021-08-31'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  file:
                    type: string
                    example: https://abc.cde.com
                  filename:
                    type: string
                    example: 1234
                  error:
                    type: boolean
                    example: false
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /export/sales:
    post:
      tags:
      - Export
      summary: Export Sales
      description: ''
      operationId: exportExportSales
      requestBody:
        content:
          application/json:
            schema:
              required:
              - month
              - year
              properties:
                month:
                  type: integer
                  example: 1
                year:
                  type: integer
                  example: 2019
                filter:
                  description: Filter your data
                  type: array
                  items:
                    type: integer
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: success
                  jobStatus_id:
                    type: integer
                    example: 123
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
