openapi: 3.2.0
info:
  title: ready2order Public Discount Group API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Discount Group
  description: 'Discount groups organise discounts into named collections. Every discount must belong to a group, so you need at least one group before you can create discounts.


    Setting `discountGroup_active` to `false` hides all discounts in the group at the POS, which is useful for seasonal or temporarily suspended promotions.


    A group cannot be deleted while it still contains discounts. Delete or move the discounts out of the group first.'
paths:
  /discountGroups:
    get:
      tags:
      - Discount Group
      summary: List discount groups
      description: Returns all discount groups for the account, including inactive ones.
      operationId: discountGroupGetAllDiscountGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    discountGroup_id:
                      type: integer
                      example: 74890
                    discountGroup_name:
                      type: string
                      example: Barzahlung
                    discountGroup_description:
                      type: string
                      example: just a description
                    discountGroup_active:
                      type: boolean
                      example: true
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Discount Group
      summary: Create a discount group
      description: Creates a new discount group. You need at least one group before you can create discounts.
      operationId: discountGroupCreateDiscountGroup
      requestBody:
        content:
          application/json:
            schema:
              required:
              - discountGroup_name
              properties:
                discountGroup_description:
                  description: The description of the discount group
                  type: string
                  example: description example
                discountGroup_active:
                  description: Whether the discount group is active or not
                  type: boolean
                  example: true
                discountGroup_name:
                  description: The name of the discount group
                  type: string
                  example: Sales
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  discountGroup_id:
                    type: integer
                    example: 74890
                  discountGroup_name:
                    type: string
                    example: Barzahlung
                  discountGroup_description:
                    type: string
                    example: just a description
                  discountGroup_active:
                    type: boolean
                    example: true
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /discountGroups/{id}:
    get:
      tags:
      - Discount Group
      summary: Get a discount group
      description: Returns a single discount group by its ID.
      operationId: discountGroupGetDiscountGroup
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  discountGroup_id:
                    type: integer
                    example: 74890
                  discountGroup_name:
                    type: string
                    example: Barzahlung
                  discountGroup_description:
                    type: string
                    example: just a description
                  discountGroup_active:
                    type: boolean
                    example: true
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Discount Group
      summary: Update a discount group
      description: Updates an existing discount group.
      operationId: discountGroupUpdateDiscountGroup
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      requestBody:
        content:
          application/json:
            schema:
              properties:
                discountGroup_description:
                  description: The description of the discount group
                  type: string
                  example: description example
                discountGroup_active:
                  description: Whether the discount group is active or not
                  type: boolean
                  example: true
                discountGroup_name:
                  description: The name of the discount group
                  type: string
                  example: Sales
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  discountGroup_id:
                    type: integer
                    example: 74890
                  discountGroup_name:
                    type: string
                    example: Barzahlung
                  discountGroup_description:
                    type: string
                    example: just a description
                  discountGroup_active:
                    type: boolean
                    example: true
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Discount Group
      summary: Delete a discount group
      description: Deletes a discount group. Fails if the group still contains discounts; delete or reassign those first.
      operationId: discountGroupDeleteDiscountGroup
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: DiscountGroup was successfully deleted!
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
