openapi: 3.2.0
info:
  title: ready2order Public Table Area API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Table Area
paths:
  /tableAreas:
    get:
      tags:
      - Table Area
      summary: List all Table Areas
      description: ''
      operationId: tableAreaGetAll
      parameters:
      - name: page
        in: query
        description: Page you want to display
        required: false
        schema:
          type: integer
          example: 1
      - name: limit
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
          example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    tableArea_id:
                      type: integer
                      example: 1234
                    tableArea_name:
                      type: string
                      example: innen 1
                    tableArea_shortName:
                      type: string
                      example: IN-1
                    tableArea_order:
                      type: integer
                      example: 1
                    tableArea_allowTemporaryTables:
                      type: boolean
                      example: true
                    tableArea_active:
                      type: boolean
                      example: true
                    tableArea_intelligentFavourites:
                      type: integer
                      example: 1
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Table Area
      summary: Create a new Table Area
      description: ''
      operationId: tableAreaCreate
      requestBody:
        content:
          application/json:
            schema:
              required:
              - tableArea_name
              properties:
                tableArea_name:
                  description: Table name
                  type: string
                  example: innen 1
                tableArea_shortName:
                  description: Table area short name
                  type: string
                  example: IN-1
                tableArea_order:
                  description: Table area order number (sorting)
                  type: string
                  example: 1
                tableArea_allowTemporaryTables:
                  description: Allow temporary tables
                  type: boolean
                  example: true
                tableArea_active:
                  description: Table is active
                  type: boolean
                  example: true
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  tableArea_id:
                    type: integer
                    example: 1234
                  tableArea_name:
                    type: string
                    example: innen 1
                  tableArea_shortName:
                    type: string
                    example: IN-1
                  tableArea_order:
                    type: integer
                    example: 1
                  tableArea_allowTemporaryTables:
                    type: boolean
                    example: true
                  tableArea_active:
                    type: boolean
                    example: true
                  tableArea_intelligentFavourites:
                    type: integer
                    example: 1
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /tableAreas/{id}:
    get:
      tags:
      - Table Area
      summary: Find Table Area by Id
      description: ''
      operationId: tableAreaFindById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  tableArea_id:
                    type: integer
                    example: 1234
                  tableArea_name:
                    type: string
                    example: innen 1
                  tableArea_shortName:
                    type: string
                    example: IN-1
                  tableArea_order:
                    type: integer
                    example: 1
                  tableArea_allowTemporaryTables:
                    type: boolean
                    example: true
                  tableArea_active:
                    type: boolean
                    example: true
                  tableArea_intelligentFavourites:
                    type: integer
                    example: 1
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Table Area
      summary: Update Table Area by Id
      description: ''
      operationId: tableAreaUpdateById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      requestBody:
        content:
          application/json:
            schema:
              required:
              - tableArea_name
              properties:
                tableArea_name:
                  description: Table name
                  type: string
                  example: innen 1
                tableArea_shortName:
                  description: Table area short name
                  type: string
                  example: IN-1
                tableArea_order:
                  description: Table area order number (sorting)
                  type: string
                  example: 1
                tableArea_allowTemporaryTables:
                  description: Allow temporary tables
                  type: boolean
                  example: true
                tableArea_active:
                  description: Table is active
                  type: boolean
                  example: true
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  tableArea_id:
                    type: integer
                    example: 1234
                  tableArea_name:
                    type: string
                    example: innen 1
                  tableArea_shortName:
                    type: string
                    example: IN-1
                  tableArea_order:
                    type: integer
                    example: 1
                  tableArea_allowTemporaryTables:
                    type: boolean
                    example: true
                  tableArea_active:
                    type: boolean
                    example: true
                  tableArea_intelligentFavourites:
                    type: integer
                    example: 1
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Table Area
      summary: Delete Table Area by Id
      description: ''
      operationId: tableAreaDeleteById
      parameters:
      - name: id
        in: path
        description: ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: TableArea was successfully deleted!
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
