openapi: 3.2.0
info:
  title: ready2order Public Customer API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Customer
paths:
  /customers:
    get:
      tags:
      - Customer
      summary: List all Customers
      description: ''
      operationId: customerGetAll
      parameters:
      - name: page
        in: query
        description: Page you want to display
        required: false
        schema:
          type: integer
          example: 1
      - name: limit
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
          example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    customer_id:
                      type: integer
                      example: 9999
                    customer_number:
                      type: integer
                      example: 9999
                    customer_name:
                      type: string
                      example: Maxi's custom name
                    vatId:
                      type: string
                      example: ATU1234567
                    customer_notes:
                      type: string
                      example: Some custom notes
                    customerCategory_id:
                      type: integer
                      example: 9999
                    customer_birthday:
                      type: string
                      example: '1991-09-20'
                    address:
                      type: array
                      items:
                        properties:
                          invoice:
                            type: array
                            items:
                              properties:
                                salutation:
                                  type: string
                                  example: Herr
                                title:
                                  type: string
                                  example: Professor
                                customer_company:
                                  type: string
                                  example: Maxi Gmbh
                                lastName:
                                  type: string
                                  example: Muster
                                firstName:
                                  type: string
                                  example: Max
                                zip:
                                  type: string
                                  example: 1030
                                city:
                                  type: string
                                  example: WIen
                                street:
                                  type: string
                                  example: Straße 1
                                country:
                                  type: string
                                  example: AT
                                email:
                                  type: string
                                  example: example@ready2order.com
                                phone:
                                  type: string
                                  example: +43 664 12345678
                              type: object
                        type: object
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Customer
      summary: Create a new Customer
      description: ''
      operationId: customerCreate
      requestBody:
        content:
          application/json:
            schema:
              required:
              - customerCategory_id
              properties:
                customerCategory_id:
                  type: integer
                  example: 1126
                birthday:
                  type: string
                  example: '1991-09-20'
                city:
                  type: string
                  example: Wien
                company:
                  type: string
                  example: Maxi Gmbh
                email:
                  type: string
                  example: example@ready2order.com
                firstName:
                  type: string
                  example: Max
                lastName:
                  type: string
                  example: Muster
                customer_name:
                  type: string
                notes:
                  type: string
                  example: Some custom notes
                customer_number:
                  type: integer
                  example: 9999
                phone:
                  type: string
                  example: +43 12345678
                salutation:
                  type: string
                  example: Herr
                street:
                  type: string
                  example: Straße 1
                title:
                  type: string
                  example: Herr
                uid:
                  type: string
                  example: ATU1234567
                zip:
                  type: string
                  example: 1030
                address:
                  type: array
                  items: []
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer_id:
                    type: integer
                    example: 9999
                  customer_number:
                    type: integer
                    example: 9999
                  customer_name:
                    type: string
                    example: Maxi's custom name
                  vatId:
                    type: string
                    example: ATU1234567
                  customer_notes:
                    type: string
                    example: Some custom notes
                  customerCategory_id:
                    type: integer
                    example: 9999
                  customer_birthday:
                    type: string
                    example: '1991-09-20'
                  address:
                    type: array
                    items:
                      properties:
                        invoice:
                          type: array
                          items:
                            properties:
                              salutation:
                                type: string
                                example: Herr
                              title:
                                type: string
                                example: Professor
                              customer_company:
                                type: string
                                example: Maxi Gmbh
                              lastName:
                                type: string
                                example: Muster
                              firstName:
                                type: string
                                example: Max
                              zip:
                                type: string
                                example: 1030
                              city:
                                type: string
                                example: WIen
                              street:
                                type: string
                                example: Straße 1
                              country:
                                type: string
                                example: AT
                              email:
                                type: string
                                example: example@ready2order.com
                              phone:
                                type: string
                                example: +43 664 12345678
                            type: object
                      type: object
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /customers/{id}:
    get:
      tags:
      - Customer
      summary: Find Customer by Id
      description: ''
      operationId: customerFindById
      parameters:
      - name: id
        in: path
        description: Customer ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer_id:
                    type: integer
                    example: 9999
                  customer_number:
                    type: integer
                    example: 9999
                  customer_name:
                    type: string
                    example: Maxi's custom name
                  vatId:
                    type: string
                    example: ATU1234567
                  customer_notes:
                    type: string
                    example: Some custom notes
                  customerCategory_id:
                    type: integer
                    example: 9999
                  customer_birthday:
                    type: string
                    example: '1991-09-20'
                  address:
                    type: array
                    items:
                      properties:
                        invoice:
                          type: array
                          items:
                            properties:
                              salutation:
                                type: string
                                example: Herr
                              title:
                                type: string
                                example: Professor
                              customer_company:
                                type: string
                                example: Maxi Gmbh
                              lastName:
                                type: string
                                example: Muster
                              firstName:
                                type: string
                                example: Max
                              zip:
                                type: string
                                example: 1030
                              city:
                                type: string
                                example: WIen
                              street:
                                type: string
                                example: Straße 1
                              country:
                                type: string
                                example: AT
                              email:
                                type: string
                                example: example@ready2order.com
                              phone:
                                type: string
                                example: +43 664 12345678
                            type: object
                      type: object
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Customer
      summary: Update Customer by Id
      description: ''
      operationId: customerUpdate
      parameters:
      - name: id
        in: path
        description: Customer ID to update
        required: true
        schema:
          type: integer
          example: 12345
      requestBody:
        content:
          application/json:
            schema:
              properties:
                customerCategory_id:
                  type: integer
                  example: 1126
                birthday:
                  type: string
                  example: '1991-09-20'
                city:
                  type: string
                  example: Wien
                company:
                  type: string
                  example: Maxi Gmbh
                email:
                  type: string
                  example: example@ready2order.com
                firstName:
                  type: string
                  example: Max
                lastName:
                  type: string
                  example: Muster
                customer_name:
                  type: string
                notes:
                  type: string
                  example: Some custom notes
                customer_number:
                  type: integer
                  example: 9999
                phone:
                  type: string
                  example: +43 12345678
                salutation:
                  type: string
                  example: Herr
                street:
                  type: string
                  example: Straße 1
                title:
                  type: string
                  example: Herr
                uid:
                  type: string
                  example: ATU1234567
                zip:
                  type: string
                  example: 1030
                address:
                  type: array
                  items: []
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customer_id:
                    type: integer
                    example: 9999
                  customer_number:
                    type: integer
                    example: 9999
                  customer_name:
                    type: string
                    example: Maxi's custom name
                  vatId:
                    type: string
                    example: ATU1234567
                  customer_notes:
                    type: string
                    example: Some custom notes
                  customerCategory_id:
                    type: integer
                    example: 9999
                  customer_birthday:
                    type: string
                    example: '1991-09-20'
                  address:
                    type: array
                    items:
                      properties:
                        invoice:
                          type: array
                          items:
                            properties:
                              salutation:
                                type: string
                                example: Herr
                              title:
                                type: string
                                example: Professor
                              customer_company:
                                type: string
                                example: Maxi Gmbh
                              lastName:
                                type: string
                                example: Muster
                              firstName:
                                type: string
                                example: Max
                              zip:
                                type: string
                                example: 1030
                              city:
                                type: string
                                example: WIen
                              street:
                                type: string
                                example: Straße 1
                              country:
                                type: string
                                example: AT
                              email:
                                type: string
                                example: example@ready2order.com
                              phone:
                                type: string
                                example: +43 664 12345678
                            type: object
                      type: object
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Customer
      summary: Delete Customer by Id
      description: ''
      operationId: customerDelete
      parameters:
      - name: id
        in: path
        description: Customer ID to delete
        required: true
        schema:
          type: integer
          example: 12345
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Customer was successfully deleted!
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
  /customers/merge:
    post:
      tags:
      - Customer
      summary: Merge Customers
      description: ''
      operationId: customerMergeCustomers
      requestBody:
        content:
          application/json:
            schema:
              required:
              - masterCustomer
              - customerIds
              properties:
                masterCustomer:
                  description: Customer into which the list of customerIds should be merged into.
                  type: integer
                  example: 5924
                customerIds:
                  description: List of customers which shall be merged into masterCustomer.
                  type: array
                  items:
                    type: integer
                  example:
                  - 1
                  - 2
                  - 3
                  - 4
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Merged successfully!
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
