openapi: 3.2.0
info:
  title: ready2order Public Coupon API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: Coupon
  description: Coupons are gift cards and vouchers that merchants sell and later accept as payment at the point of sale.
paths:
  /coupons:
    get:
      tags:
      - Coupon
      summary: List coupons
      description: Returns a paginated list of coupons. Filter by `identifier` to look up a coupon by its code (e.g. scanned from a barcode).
      operationId: couponGetAll
      parameters:
      - name: page
        in: query
        description: Page you want to display
        required: false
        schema:
          type: integer
          example: 1
      - name: limit
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
          example: 25
      - name: identifier
        in: query
        description: Identifier/Code of coupon
        required: false
        schema:
          type: string
          example: '9995071228303'
      - name: trainingMode
        in: query
        description: Trainingmode
        required: false
        schema:
          type: boolean
          example: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    coupon_id:
                      type: integer
                      example: 1234
                    coupon_name:
                      type: string
                      example: Christmas Coupon
                    coupon_containsVat:
                      type: string
                      example: 20
                    coupon_purpose:
                      type: string
                      example: single|multi
                    coupon_identifier:
                      type: string
                      example: 9995071228303
                    coupon_testMode:
                      type: boolean
                      example: true
                    coupon_validUntil:
                      type: string
                      example: '2020-01-31 00:49:39'
                    coupon_issuedAt:
                      type: string
                      example: '2018-01-31 00:49:39'
                    couponCategory_id:
                      type: integer
                      example: 4
                    vat_id:
                      type: integer
                      example: 1234
                    product_id:
                      type: integer
                      example: 1234
                    customer_id:
                      type: integer
                      example: 7455
                    coupon_created_at:
                      type: string
                      example: '2018-01-31 00:49:39'
                    coupon_updated_at:
                      type: string
                      example: '2018-01-31 04:49:39'
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
    post:
      tags:
      - Coupon
      summary: Create a coupon
      description: 'Creates a new coupon. `coupon_identifier` is auto-generated as an EAN-13 code if omitted. Set `coupon_purpose` to "single" or "multi" to control when VAT is due: at issuance or at redemption.'
      operationId: couponCreate
      requestBody:
        content:
          application/json:
            schema:
              required:
              - coupon_name
              - coupon_value
              properties:
                coupon_name:
                  type: string
                  example: MyCoupon
                coupon_value:
                  type: string
                  example: 5
                couponCategory_id:
                  type: integer
                  example: 123
                coupon_containsVat:
                  type: string
                  example: 3
                customer_id:
                  type: integer
                  example: 450
                coupon_type:
                  type: string
                  enum:
                  - coupon
                  example: coupon
                coupon_purpose:
                  type: string
                  enum:
                  - single
                  - multi
                  example: single|multi
                coupon_validUntil:
                  type: string
                  example: '2030-01-02'
                coupon_issuedAt:
                  type: string
                  example: '2025-01-02'
                coupon_testMode:
                  type: boolean
                  example: false
                coupon_identifier:
                  type: string
                  example: AABBCC
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  coupon_id:
                    type: integer
                    example: 1234
                  coupon_name:
                    type: string
                    example: Christmas Coupon
                  coupon_containsVat:
                    type: string
                    example: 20
                  coupon_purpose:
                    type: string
                    example: single|multi
                  coupon_identifier:
                    type: string
                    example: 9995071228303
                  coupon_testMode:
                    type: boolean
                    example: true
                  coupon_validUntil:
                    type: string
                    example: '2020-01-31 00:49:39'
                  coupon_issuedAt:
                    type: string
                    example: '2018-01-31 00:49:39'
                  couponCategory_id:
                    type: integer
                    example: 4
                  vat_id:
                    type: integer
                    example: 1234
                  product_id:
                    type: integer
                    example: 1234
                  customer_id:
                    type: integer
                    example: 7455
                  coupon_created_at:
                    type: string
                    example: '2018-01-31 00:49:39'
                  coupon_updated_at:
                    type: string
                    example: '2018-01-31 04:49:39'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /coupons/{id}:
    get:
      tags:
      - Coupon
      summary: Get a coupon
      description: Returns a single coupon by its ID, including its current balance in coupon_value.
      operationId: couponFindById
      parameters:
      - name: id
        in: path
        description: Coupon ID to find
        required: true
        schema:
          type: integer
          example: 123456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  coupon_id:
                    type: integer
                    example: 1234
                  coupon_name:
                    type: string
                    example: Christmas Coupon
                  coupon_containsVat:
                    type: string
                    example: 20
                  coupon_purpose:
                    type: string
                    example: single|multi
                  coupon_identifier:
                    type: string
                    example: 9995071228303
                  coupon_testMode:
                    type: boolean
                    example: true
                  coupon_validUntil:
                    type: string
                    example: '2020-01-31 00:49:39'
                  coupon_issuedAt:
                    type: string
                    example: '2018-01-31 00:49:39'
                  couponCategory_id:
                    type: integer
                    example: 4
                  vat_id:
                    type: integer
                    example: 1234
                  product_id:
                    type: integer
                    example: 1234
                  customer_id:
                    type: integer
                    example: 7455
                  coupon_created_at:
                    type: string
                    example: '2018-01-31 00:49:39'
                  coupon_updated_at:
                    type: string
                    example: '2018-01-31 04:49:39'
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    put:
      tags:
      - Coupon
      summary: Update a coupon
      description: Updates coupon metadata such as name, validity dates, category, or customer assignment. To adjust the balance, use the charge or redeem endpoints instead.
      operationId: couponUpdateById
      parameters:
      - name: id
        in: path
        description: Coupon ID to update
        required: true
        schema:
          type: integer
          example: 12345
      requestBody:
        content:
          application/json:
            schema:
              properties:
                coupon_name:
                  type: string
                  example: MyCoupon
                coupon_value:
                  type: string
                  example: 5
                couponCategory_id:
                  type: integer
                  example: 123
                coupon_containsVat:
                  type: string
                  example: 3
                customer_id:
                  type: integer
                  example: 450
                coupon_type:
                  type: string
                  enum:
                  - coupon
                  example: coupon
                coupon_purpose:
                  type: string
                  enum:
                  - single
                  - multi
                  example: single|multi
                coupon_validUntil:
                  type: string
                  example: '2030-01-02'
                coupon_issuedAt:
                  type: string
                  example: '2025-01-02'
                coupon_testMode:
                  type: boolean
                  example: false
                coupon_identifier:
                  type: string
                  example: AABBCC
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  coupon_id:
                    type: integer
                    example: 1234
                  coupon_name:
                    type: string
                    example: Christmas Coupon
                  coupon_containsVat:
                    type: string
                    example: 20
                  coupon_purpose:
                    type: string
                    example: single|multi
                  coupon_identifier:
                    type: string
                    example: 9995071228303
                  coupon_testMode:
                    type: boolean
                    example: true
                  coupon_validUntil:
                    type: string
                    example: '2020-01-31 00:49:39'
                  coupon_issuedAt:
                    type: string
                    example: '2018-01-31 00:49:39'
                  couponCategory_id:
                    type: integer
                    example: 4
                  vat_id:
                    type: integer
                    example: 1234
                  product_id:
                    type: integer
                    example: 1234
                  customer_id:
                    type: integer
                    example: 7455
                  coupon_created_at:
                    type: string
                    example: '2018-01-31 00:49:39'
                  coupon_updated_at:
                    type: string
                    example: '2018-01-31 04:49:39'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
    delete:
      tags:
      - Coupon
      summary: Delete a coupon
      description: Deletes a coupon.
      operationId: couponDeleteById
      parameters:
      - name: id
        in: path
        description: Coupon ID to delete
        required: true
        schema:
          type: integer
          example: 12345
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: boolean
                    example: false
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Coupon was successfully deleted!
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
  /coupons/{id}/charge:
    post:
      tags:
      - Coupon
      summary: Charge a coupon
      description: Adds value to an existing coupon's balance, for example when a customer tops up a voucher card.
      operationId: couponChargeById
      parameters:
      - name: id
        in: path
        description: Coupon ID to charge
        required: true
        schema:
          type: integer
          example: 1234
      requestBody:
        content:
          application/json:
            schema:
              required:
              - value
              properties:
                value:
                  description: Charge value
                  type: string
                  example: 12
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  coupon_id:
                    type: integer
                    example: 1234
                  coupon_name:
                    type: string
                    example: Christmas Coupon
                  coupon_containsVat:
                    type: string
                    example: 20
                  coupon_purpose:
                    type: string
                    example: single|multi
                  coupon_identifier:
                    type: string
                    example: 9995071228303
                  coupon_testMode:
                    type: boolean
                    example: true
                  coupon_validUntil:
                    type: string
                    example: '2020-01-31 00:49:39'
                  coupon_issuedAt:
                    type: string
                    example: '2018-01-31 00:49:39'
                  couponCategory_id:
                    type: integer
                    example: 4
                  vat_id:
                    type: integer
                    example: 1234
                  product_id:
                    type: integer
                    example: 1234
                  customer_id:
                    type: integer
                    example: 7455
                  coupon_created_at:
                    type: string
                    example: '2018-01-31 00:49:39'
                  coupon_updated_at:
                    type: string
                    example: '2018-01-31 04:49:39'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
  /coupons/{id}/redeem:
    post:
      tags:
      - Coupon
      summary: Redeem a coupon
      description: Deducts the specified value from the coupon's balance. Partial redemptions are supported. Returns the updated coupon with the new balance in `coupon_value`.
      operationId: couponRedeemById
      parameters:
      - name: id
        in: path
        description: Coupon ID to redeem
        required: true
        schema:
          type: integer
          example: 1234
      requestBody:
        content:
          application/json:
            schema:
              required:
              - value
              properties:
                value:
                  description: Redemption value
                  type: string
                  example: 12
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  coupon_id:
                    type: integer
                    example: 1234
                  coupon_name:
                    type: string
                    example: Christmas Coupon
                  coupon_containsVat:
                    type: string
                    example: 20
                  coupon_purpose:
                    type: string
                    example: single|multi
                  coupon_identifier:
                    type: string
                    example: 9995071228303
                  coupon_testMode:
                    type: boolean
                    example: true
                  coupon_validUntil:
                    type: string
                    example: '2020-01-31 00:49:39'
                  coupon_issuedAt:
                    type: string
                    example: '2018-01-31 00:49:39'
                  couponCategory_id:
                    type: integer
                    example: 4
                  vat_id:
                    type: integer
                    example: 1234
                  product_id:
                    type: integer
                    example: 1234
                  customer_id:
                    type: integer
                    example: 7455
                  coupon_created_at:
                    type: string
                    example: '2018-01-31 00:49:39'
                  coupon_updated_at:
                    type: string
                    example: '2018-01-31 04:49:39'
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
