openapi: 3.2.0
info:
  title: ready2order Public User Roles API
  contact:
    name: support@ready2order.com
  license:
    name: proprietary
  version: R2-2026.30.2
  description: '# First Steps


    ## Authorization


    The ready2order API uses a three-token flow to grant your integration access to a ready2order account.'
servers:
- url: https://api.ready2order.com/v1
tags:
- name: User Roles
paths:
  /users/rights:
    get:
      tags:
      - User Roles
      summary: List all User Roles
      description: ''
      operationId: userRolesGetAll
      parameters:
      - name: page
        in: query
        description: Page you want to display
        required: false
        schema:
          type: integer
          example: 1
      - name: limit
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
          example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    userRight_id:
                      type: integer
                      example: 9999
                    userRight_name:
                      type: string
                    userRight_description:
                      type: string
                    userRight_allowGastroTransferOrders:
                      type: boolean
                      example: false
                    userRight_allowGastroCancellation:
                      type: boolean
                      example: false
                    userRight_allowGastroCancellationWithoutReceiptPrinting:
                      type: boolean
                      example: false
                    userRight_allowCancellationInvoice:
                      type: integer
                      example: 9999
                    userRight_allowOrderRetourMode:
                      type: boolean
                      example: false
                    userRight_allowGastroOrder:
                      type: string
                    userRight_allowGastroPayment:
                      type: string
                    userRight_showOwnOrdersOnly:
                      type: boolean
                      example: false
                    userRight_allowOpenDay:
                      type: boolean
                      example: false
                    userRight_allowCloseDay:
                      type: boolean
                      example: false
                    userRight_allowSalesReport:
                      type: boolean
                      example: false
                    userRight_allowSalesReportOwnOnly:
                      type: boolean
                      example: false
                    userRight_allowSalesDailyReports:
                      type: boolean
                      example: false
                    userRight_allowProductPage:
                      type: boolean
                      example: false
                    userRight_allowOrderStop:
                      type: boolean
                      example: false
                    userRight_allowProductSoldOut:
                      type: boolean
                      example: false
                    userRight_allowProductFavorite:
                      type: boolean
                      example: false
                    userRight_allowProductAddSideDish:
                      type: boolean
                      example: false
                    userRight_showProductStock:
                      type: boolean
                      example: false
                    userRight_allowPrintProductStock:
                      type: boolean
                      example: false
                    userRight_allowInvoicePage:
                      type: boolean
                      example: false
                    userRight_invoicePageShowOwnInvoicesOnly:
                      type: boolean
                      example: false
                    userRight_allowCashBook:
                      type: boolean
                      example: false
                    userRight_allowCashBookInsert:
                      type: boolean
                      example: false
                    userRight_allowCashBookPdfExport:
                      type: boolean
                      example: false
                    userRight_showCashBookBalance:
                      type: boolean
                      example: false
                    userRight_allowBackendLogin:
                      type: boolean
                      example: false
                    userRight_allowPrinterPage:
                      type: boolean
                      example: false
                    userRight_allowPrinterDiscovery:
                      type: boolean
                      example: false
                    userRight_allowLogoutAllUsers:
                      type: boolean
                      example: false
                    userRight_allowOpenShiftAgain:
                      type: boolean
                      example: false
                    userRight_allowProductDiscount:
                      type: boolean
                      example: false
                    userRight_allowSelectedProductPriceChange:
                      type: boolean
                      example: false
                  type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Account Token obtained after completing the authorization flow. See First Steps for details.
      name: Authorization
      in: header
x-tagGroups:
- name: Essentials
  tags:
  - Product
  - Product Group
  - Bill
  - Storno
  - Payment Method
  - Payment Method Type
  - Coupon
  - Coupon Category
  - Discount
  - Discount Group
  - Customer
- name: Gastro
  tags:
  - Order
  - Table
  - Table Area
- name: POS
  tags:
  - Printer
  - Printer Profile
  - Print Job
  - Terminal Transaction
  - User
  - User Roles
- name: Reporting
  tags:
  - Daily Report
  - Accounting Financial Year
  - Export
- name: Reference Data
  tags:
  - Bill Type
  - Customer Group
  - Currency
  - Country
  - Device
  - Language
  - Legal Form
  - Units
  - Vat Rate
- name: Integration
  tags:
  - Account Token
  - Grant Access Token
  - Developer Token
  - Webhook
  - Job Status
- name: Internal
  tags:
  - Account
  - Admin
  - CashboxRegistration
  - ConfirmableAction
  - Constant
  - Item
  - License
  - MobileConstant
  - ReadyPaySellRate
  - Signup
  - Tss
